/* .entryContainer {
    display: flex, 
} */

.journalEntry {
    background-color: rgb(103, 241, 207);
    margin: 1em;
    padding: .5em;
}

.postHeader {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin: .2em 0 .5em .3em;
}

.postContent {
    margin: 0 0 .2em .5em
}